:root {
  --gunmetal-gray: #3e3e3e;
  --celadon: #94c0b4;
  --slate: #bfcad0;
  --red: #702283;
  /* https://colorhunt.co/palette/70228396207176b39dfdb44b */
}

body {
  font-family: Arial, sans-serif;
  color: var(--gunmetal-gray);
  max-width: 800px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--celadon)
}

a:link {
  color: var(--red);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--red);
  background-color: transparent;
}

a:hover {
  color: var(--red);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--red);
  background-color: transparent;
  text-decoration: underline;
}

/* Style for collapsible buttons */
.collapsible {
  /* background-color: var(--red); */
  color: var(--red);
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  text-align: left;
  font-size: 1.8em;
  margin: 1px 0;
}

.collapsible:hover {
  background-color: var(--slate);
}

/* Collapsible content */
.content {
  padding: 20px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.section p {
  color: #666;
}

header {
  color: var(--red);
  padding: 20px;
  text-align: left;
  font-size: 42px;
}

table {
  width: 50%;
  border-collapse: collapse;
  background-color: white;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: white;
}
.campaign {
  margin-bottom: 20px;
}
.title {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
.requester {
  font-style: italic;
}
.section {
  margin-top: 10px;
}
.note {
  font-weight: bold;
}

.footer-image {
  margin-top: 10px;  
}

.footer-image span {
  margin-top: 10px;
  margin: 5px;  
  display: block;  
  font-style: italic;
}